body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(209, 225, 244);
    
    margin: 0;
}

.parent {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #e9f5f7;
    padding: 0;
    height: 70%;
    text-align: center;
    box-shadow: 
        -5px 5px 0px rgba(0, 0, 0, 0.2),   /* Top right shadow */
        -5px 15px 10px rgba(0, 0, 0, 0.2);   /* Bottom left shadow */
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40% 20% 10% 20%;
   
}

.logo {
    width: 50px;
    margin-bottom: 20px;
}

.parent h1 {
    margin: 10px 0;
    font-size: 20px;
    font-family: sans-serif;
    font-style: normal;
    }

.parent p {
    color: #606770;
    font-size: 16px;
    margin: 0;
    font-family: sans-serif;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    background-color: #e9f5f7;;
}

.social-icons a img {
    width: 30px;
    height: 30px;
}

button {
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c5d8f0;
}
