body {
   background-image: url(../goat.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
 
.parent{
    background-color: white;
    width: 270px;
    text-align: center;
    height: 62%;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    flex-direction: column;
}
.QR {
    background-color: white;
    width: 270px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10%;
}

 img {
    width: 100%;
    object-fit: contain;
    
}

.text h1 {
    font-size: 18px;
    font-weight: bold;
    color: #2d334a;
}

.text p {
    font-size: 14px;
    color: #6c7a92;
}