body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    }

    .step-progress {
        display: flex;
        align-items: center;
        font-family: Arial, sans-serif;
    }
    
    .step {
        display: flex;
        align-items: center;
    }
    
    .step-icon {
        display: inline-block;
        background-color: black;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px; /* Aligns the text vertically */
        margin-right: 5px;
    }
    
    .step-line {
        width: 50px;
        height: 2px;
        background-color: black;
        margin: 0 10px;
    }
    
    .step span {
        margin-right: 10px;
    }

    
nav {
        display: flex;
        justify-content: space-around;
}
nav ul {
    list-style: none;
    margin-left: 20%;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}
.account-section{
width: 40%;

}

.account-info {
    margin-left: auto;
    display: flex;
    align-items: center;
    border: none;
}

.cart {
    margin-left: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

input[type="email"], input[type="password"], .discount-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.button-container {
    text-align: right; /* Aligns the content of the container to the right */
    margin-top: 10px; /* Adds a little space above the buttons */
    color: #333;
    justify-content: space-between;
}
button {
    background: #0066cc;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: #333;
    }

button:hover {
    background: #0057b8;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.order-summary {



}
.description {
        text-align: center;
        margin-top: 10px;
}

.product img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.quantity button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.quantity input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
    font-size: 16px;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}
